requests
beautifulsoup4
lxml
newsapi-python
google-api-python-client
vaderSentiment
transformers
torch
keybert
bertopic
hdbscan
plotly
reportlab
groq
python-dotenv
wordcloud
matplotlib
pandas
fastapi
uvicorn
langdetect
google-play-scraper